<% if obj.errors.any? %>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red lighten-2 white-text">
          <div class="center">
            <strong><%= pluralize(obj.errors.count, "error") %>
                prohibited your profile from being created</strong>
          </div>
          <ul>
            <% obj.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>