@import 'materialize-css/dist/css/materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav, footer {
  @extend .blue, .darken-4;
}

.top-padding {
  padding-top: 30px;
}

.sign-up-form {

}

.enrollments, .enrollment {
  list-style-type: disc !important;
}

.enrollment {
  margin-left: 30px;
}